*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-position: center;
    font-family:sans-serif;
    margin-top: 20px;
}
.fa-arrow-right{
    margin-left: 10px;
}
.reviewBottomButton{
    margin-left: 40%;
    margin-top: 50px;
    font-size: 15px;
    background-image: linear-gradient(to right, #9752ff, #5e93ff);
    font-family: Roboto;
    font-weight: 700;
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 10px 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    color: white;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    min-width: 170px;
}

/* byjus details start */
.footer{
    background-color: #813588;
}
#facebook{
    margin-right: 40px;
}
.byjus-details{
    display: flex;
    justify-content: space-evenly;
    
    color: #fff;
    padding-top: 90px;
    margin-top: 80px;
    font-size: 13px;
}
..byjus-details hr{
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.byjus-details h5{
    color: #ffc846;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
}

/* byjus details end */

/* slider style start */
.carousel-p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #333;
    margin: 0 0 10px;
}
.slider-img{
    display: flex;
    max-width: 136px;
    height: 136px;
    vertical-align: middle;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    cursor: pointer;
}

.carousel-h1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #333;
    margin-top: 10px;
}
/* slider style end */
/* user review start */
#user{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}
.user-review{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
/* user review end */

/* Get the BYJU'S advantage start */
.container{
    display: flex;
    justify-content: space-evenly;
}
#BYJUS-ADVANTAGE{
    text-align: center;
    margin-top: 50px;
    font-size: 33px;
    font-family: Roboto;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
    opacity: 1;
    transform: translateZ(0);
}
/* Get the BYJU'S advantage end */

/* comprehensive style start */

.comprehensive{
    text-align: center;
    margin-top: 100px;
}
.comprehensivePara{
    opacity: 1;
    transform: translateZ(0);
}

/* comprehensive style end */

/* comprehensive card part start */

.comprehensive-card-part{
    display: flex;
    justify-content: space-evenly;
}

.Personalised{
    margin-top: 30px;
}

.know-more{
    display: block;
    color: #454545;
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    min-height: 1.625rem;
}
.class-4-12{
    border-radius: 0 0 10px 10px;
    padding: 12px 20px;
    background-image: linear-gradient(to right, #8c3fff, #5c72ff);
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
}
.byjus-classes{
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.14);
}
.byjus-classes-btn{
    color: inherit;
    color: white;
    background-color: transparent;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    margin: 10px 0 20px 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    border-radius: 30px;
    padding: 10px 25px;
    min-width: 170px;
    background-image: linear-gradient(to right, #8c3fff, #5c72ff);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-weight: normal;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}



/* comprehensive card part end */

/* navbar style start */

.menu-bar{
    text-align: center;
    background-image: url(images/first_background.svg)
}
.menu-bar .fa{
    margin-left: 8px;
}

.menu-bar ul{
    display: inline-flex;
    list-style-type: none;
}

.menu-bar ul li{
    width: auto;
    margin: 15px;
    padding-right: 0px;
    padding-left: 0px;
    line-height: 20px;
    font-size: 14px;
    color: #ffc846;
    cursor: pointer;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #ffc846;
}

.menu-bar ul li a:hover{
    color: white;
}

#logo{
    margin-left: -100px;
    margin-top: -10px;
}

/* sub menu-1 style start */

.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #73207a;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 0px 24px 24px;
    text-align: left;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.menu-bar ul li:hover .sub-menu-1 li{
    width: 170px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
    color: white;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    color: white;
}
.sub-menu-1 .fa{
    margin-right: 8px;
}

/* sub menu-1 style end */

/* sub menu-2 style start */

.sub-menu-2{
    display: none;
}
.menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: #73207a;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 0px 24px 24px;
    text-align: left;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.menu-bar ul li:hover .sub-menu-2 li{
    width: 170px;
}

.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
    color: white;
}
.menu-bar ul li:hover .sub-menu-2 ul li:hover{
    color: white;
}
.sub-menu-2 .fa{
    margin-right: 8px;
}

/* sub menu-2 style end */

/* sub menu-1a style start */
.sub-menu-1a{
    display: none;
}
.hover-me:hover .sub-menu-1a{
    position: absolute;
    display: block;
    background: #73207a;
    margin-top: -10px;
    margin-left: 60px;
    border-radius: 0px 24px 24px;
    text-align: left;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

/* call- button */

.call-number{
    display: none;
}
.call-hover:hover .call-number{
    display: block;
    position: absolute;
    text-align: center;
    background:white;
    z-index: 1;
}
.call-number{
    color: #73207a;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 5px 0;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-left: -50px;
}

/* navbar style end */